go 1.20

use (
	apps/apis/lake-manager
	apps/lake-manager
	apps/lake-orchestration/lake-controller
	apps/lake-orchestration/lake-gateway
	apps/lake-orchestration/lake-repository
	libs/golang/events
	libs/golang/go-mongodb
	libs/golang/go-rabbitmq
	libs/golang/goid
	libs/golang/service-discovery
)
